<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>         
	<script th:src="@{/js/bootstrap.min.js}"></script>       

<title th:text="#{createInvoices.title}"/></title>
</head>
<body>
<div class="container">
<th:block th:include="@{manager/_menu_manager_inner}"></th:block>

<h1 th:text="#{createInvoices.header}"></h1>
<form name="shippingForm" action="/manager/create_invoices" method="post" th:if="${(session.shippingList != null)}">
<table class="table" >
<tr>
<th scope="col" th:text="#{pageCrInv.Date}"/></th>
<th scope="col" th:text="#{pageCrInv.Person}"/></th>
<th scope="col" th:text="#{pageCrInv.Load}"/></th>
<th scope="col" th:text="#{pageCrInv.Unload}"/></th>
<th scope="col" th:text="#{pageCrInv.Fare}"/></th>
<th scope="col" th:text="#{pageCrInv.Status}"/></th>
<th scope="col" th:text="#{pageCrInv.Mark}"/></th>
</tr>
	<tr th:each="s : ${session.shippingList}" >
		<td th:utext="${s.getCreationTimestamp()}"></td>
		<td th:utext="${s.getPerson().getName()}"></td>
		<td th:utext="${s.getLoadLocality().getName()}"></td>
		<td th:utext="${s.getUnloadLocality().getName()}"></td>
		<td th:utext="${s.getFare()}"></td>
		<td th:utext="${s.getShippingStatus().getName()}"></td>
		<td><input type="checkbox" name="shippingId" th:value="${s.getId()}"/></td>
	</tr>
</table>
<button type="submit" class="btn btn-primary btn-lg" name="cmd" value="CreateInvoices" th:text="#{pageCrInv.CreateInvoices}"></button>
</form>
<a th:href="@{/manager/create_invoices?cmd=prevPage}" th:text="#{pageCrInv.prevPage}"/></a>
	<span th:text="${(session.pageShipping.getNumber()+1) + ' of ' + (session.pageShipping.getTotalPages())}"></span>
<a th:href="@{/manager/create_invoices?cmd=nextPage}" th:text="#{pageCrInv.nextPage}"/></a>
</div>
</body>
</html>