<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
	<Properties>
		<property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n</property>
	</Properties>
	<Appenders>
		<File name="TxtFile" fileName="logs/log.log" bufferedIO="true">
			<PatternLayout pattern="${pattern_file}" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/rolling.log"
			append="true"
			filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt">
			<PatternLayout pattern="${pattern_file}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="TxtFile" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>