<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
 
<title th:text="#{index.title}"></title>
</head>
<body>
	<div class="container">

<h1 th:text="#{four.head}">404</h1>
<p th:text="#{four.login}"></p>
<p th:text="#{four.index}"></p>
<p th:text="#{index.about1}"></p>
</div>
</body>
</html>

<!-- <title th:text="#{error.404title}">404</title> -->