<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<script src="../js/bootstrap.min.js"></script>
<title th:text="#{four.title}"></title>
</head>
<body>
	<div class="container">
		<div class = "jumbotron">
			<h1 th:text="#{four.head}"></h1>
			<h2 th:text="${errorDescription}"></h2>
			<p><a href="/login" th:text="#{four.login}"></a></p>
			<p><a href="/" th:text="#{four.index}"></a></p>
		</div>
	</div>
</body>
</html>