<form id="formMenu" action="Controller" method="post">
</form>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/index}">MDS</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><button type="submit" form="formMenu" formmethod="post" name="cmd" class="btn btn-default navbar-btn" value="InvoiceUserEnter" th:text="#{userCabinet.invoicesUserLink}"></li>
						<li><button type="submit" form="formMenu" formmethod="post" name="cmd" class="btn btn-default navbar-btn" value="OrderUserResumeEnter" th:text="#{userCabinet.resumeOrderLink}"></li>
						<li><button type="submit" form="formMenu" formmethod="get" formaction="/delivery/costs.jsp" class="btn btn-default navbar-btn" th:text="#{userCabinet.costCalculation}"></li>
						<li><a  th:href="@{/Controller?cmd=Logout}" th:text="userCabinet.linkLogout"></a></li>
						<li></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="button" class="btn btn-default navbar-btn" >
						<span th:text="${session.person.getName() + ' (' + session.person.getLogin() + '), '  + session.balance}"></span>
						</button>	
						<!-- + #common.balance + ': ' -->
					</li>
					<li>
							<a th:href="${#httpServletRequest.getRequestURI} + '?lang=en_US'"><span th:text="#{lang.eng}"></span></a>
					</li>
					<li>
							<a th:href="${#httpServletRequest.getRequestURI  + '?lang=ru_RU'}"><span th:text="#{lang.ru}"></span></a>
					</li>
					
				</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>