<form id="formMenu" action="Controller" method="post">
</form>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/index}">MDS</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a th:href="@{invoices_of_user}" th:text="#{userCabinet.invoicesUserLink}"></a></li>
						<li><a th:href="@{shippings_new}" th:text="#{userCabinet.resumeOrderLink}"></a></li>
						<li><a th:href="@{/costs}" th:text="#{userCabinet.costCalculation}"></a></li>
						<li><a th:href="@{/logout}" th:text="#{userCabinet.linkLogout}"></a></li>
						<li></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li>
						<th:block th:include="/_auth_user"></th:block>
						
					</li>
					<li>
							<a th:href="${#httpServletRequest.getRequestURI} + '?lang=en_US'"><span th:text="#{lang.eng}"></span></a>
					</li>
					<li>
							<a th:href="${#httpServletRequest.getRequestURI  + '?lang=ru_RU'}"><span th:text="#{lang.ru}"></span></a>
					</li>
					
				</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>