<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>         
	<script th:src="@{/js/bootstrap.min.js}"></script>       

<title th:text="#{userCabinet.headerCabinet}"></title>
</head>
<body>
<div class="container">
		<th:block th:include="/auth_user/_menu_user"></th:block>

<div class="jumbotron">
  		<h1 th:text="#{userCabinet.headerCabinet}"></h1>
		<p th:text="#{userCabinet.tapMenuItem}"><fmt:message key="" /></p>
		<p th:text="#{userCabinet.bakcToCabinet}"><fmt:message key="" /></p>
		<p><a th:href="@{/auth_user/cabinet}" class="btn btn-primary btn-lg" role="button" th:text="#{userCabinet.Back}"></a></p>
</div>

		<th:block th:include="@{_footer_guest}"></th:block>

</div>
</body>
</html>